.gallery-container {
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-gap: 0px;
  line-height: 10px;
  margin: 10px 20px;
}

.horizontal-lg,
.horizontal-sm,
.vertical,
.square {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
}

.horizontal-lg:after,
.horizontal-sm:after,
.vertical:after,
.square:after {
  display: block;
  content: '';
}

.horizontal-lg:after {
  /* width: 1152px; */
  /* 3:2 ratio */
  padding-top: 67%;
}

.horizontal-sm:after {
  /* width: 768px; */
  padding-top: 67%;
}

.vertical:after {
  /* width: 384px; */
  /* 3:2 ratio? */
  padding-top: 148%;
}

.square:after {
  /* width: 576px; */
  padding-top: 100%;
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 1600px) {
  .gallery-container {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

@media only screen and (max-width: 1200px) {
  .gallery-container {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media only screen and (max-width: 992px) {
  .gallery-container {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .gallery-container {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    margin: 5px;
  }
}


/*http://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio*/

.horizontal-sm {
}

.vertical {
}

.square {
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
}


/*
hoch
5760x3840

quer


*/