<nav class="mobile-collaps">
    <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-2x fa-bars"></span>
            </button>
    <div class="nav-links collapse navbar-collapse" [ngClass]="{'in': isIn}">
        <a class="level1" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" href="">Home</a>
        <div dropdown class="gallery-dropdown">
            <a class="level1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" dropdownToggle>Galleries</a>
            <!--<a class="level1" [class.active]="gallery && gallery.classList.contains('active')" dropdownToggle>Galleries</a>-->
            <ul *dropdownMenu role="menu" class="dropdown-menu dropdown-menu-center">
                <li><a #gallery class="level2" routerLink="gallery/9months" routerLinkActive="active" href="">9months</a></li>
                <li><a #gallery class="level2" routerLink="gallery/9months" routerLinkActive="active" href="">Willkommen im Leben</a></li>
                <li><a #gallery class="level2" routerLink="gallery/9months" routerLinkActive="active" href="">Kinder</a></li>
            </ul>
        </div>
        <a class="level1" routerLink="/about" routerLinkActive="active" href="">About</a>
        <a class="level1" routerLink="/contact" routerLinkActive="active" href="">Kontakt</a>
        <a class="level1" routerLink="/more" routerLinkActive="active" href="">More</a>
    </div>
</nav>