@font-face {
  font-family: "Signerica";
  /*src: url("assets/Signerica_Fat.ttf");*/
  src: url("/assets/Signerica_Fat.ttf") format("truetype");
  font-style: normal;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.zeile1 {
  font-family: "Signerica";
  font-style: normal;
  font-size: 18pt;
}

.mobile-collaps {
  position: absolute;
  width: 100%;
  top: 15px;
  right: 0;
}

nav > button {
  margin: auto;
}

.collapse {
  background: rgba(255, 255, 255, 0.9);
}

.level1 {
  margin: 0 10px;
  cursor: pointer;
}

.nav .open > a:hover {
  border-color: black;
}

li.active > .level1,
.level1.active,
.level1:hover {
  border-bottom: solid 1px;
}

.gallery-dropdown {
  display: inline-block;
  width: 100%;
}

.dropdown-menu {
  min-width: 50px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  border: none;
}

.dropdown-menu-center {
  left: 25px;
  /* right: -50px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .mobile-collaps {
    margin-left: auto;
    position: relative;
  }

  .nav > li > a {
    padding: unset;
    display: inherit;
  }

  .nav-links {
    align-items: center;
    display: flex;
    margin-left: auto;
    position: relative;
  }

  .gallery-dropdown {
    display: inline-block;
    width: unset;
  }
}