<div class="main-container">
    <div class="logo">
        <div class="zeile1">Leben pur</div>
        <div class="zeile2">FOTOGRAFIE</div>
    </div>
    <div class="navbar">
        <a class="level1" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" href="">Home</a>
        <a class="level1" routerLink="/gallery" routerLinkActive="active" href="">Galleries</a>
        <a class="level1" routerLink="/about" routerLinkActive="active" href="">About</a>
        <a class="level1" routerLink="/more" routerLinkActive="active" href="">More</a>
    </div>
</div>