<div class="main-container">
    <div class="logo">
        <div class="zeile1">Leben pur</div>
        <div class="zeile2">FOTOGRAFIE</div>
    </div>
    <div class="navbar">
        <a class="level1" [class.active]="isActive('Home')" href="">Home</a>
        <a class="level1" [class.active]="isActive('Galleries')" href="">Galleries</a>
        <a class="level1" [class.active]="isActive('About')" href="">About</a>
        <a class="level1" [class.active]="isActive('More')" href="">More</a>
    </div>
</div>