#root-container {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.main-content {
  margin-top: 90px;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.notready {
  margin-top: 10%;
}

.logo>img {
  margin-left: -15px;
  max-width: 350px;
  width: 100%;
}

.bold {
    font-weight: 600
}

@media (max-width: 768px) {
  h2 {
    font-size: 18pt;
  }
}

p {
  font-size: 12pt;
}

a,
a:hover,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  margin-bottom: 50px;
}
