.main-container {
  display: flex;
  height: 90px;
  width: 100%;
  padding: 20px 50px;
  border-bottom: solid lightgrey 1px;
  z-index: 1;
  position: relative;
  background-color: white;
}

.logo {
  position: absolute;
  /* top: 0; */
  width: 100%;
}

.logo .image {
  background-image: url("/assets/logo.png");
  height: 50px;
  width: 150px;
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

app-navbar {
  margin-left: auto;
  position: relative;
}

@media(min-width: 768px) {
  /* .mobile-collaps {
    margin-left: 10px;
  } */
  .logo {
    top: 0
  }
  .logo .image {
    width: 269px;
    height: 89px;
  }
}
