/*@font-face {
    font-family: "BentonSans";
    src: url("/static/BentonSans.eot");
    src: url("/static/BentonSans.eot?") format("embedded-opentype"), url("/static/BentonSans.woff") format("woff"), url("/static/BentonSans.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "BentonSans";
    src: url("/static/BentonSansMedium.eot");
    src: url("/static/BentonSansMedium.eot?") format("embedded-opentype"), url("/static/BentonSansMedium.woff") format("woff"), url("/static/BentonSansMedium.ttf") format("truetype");
    font-weight: 500;
}*/

body {
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 101%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.content-container {
    height: 100%;
    display: flex;
}

.right,
.left {
    height: 100%;
    padding: 0;
    display: block;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.content.up {
    top: -110%;
    opacity: 0;
    transition: opacity 0.6s ease-in, top 1s ease-in-out;
}

.content.down {
    top: 100%;
    opacity: 0;
    transition: opacity 0.6s ease-in, top 1s ease-in-out;
}

.content.active {
    top: 0;
    opacity: 1;
    transition: opacity 0.6s ease-in, top 1s ease-in-out;
}

.image {
    height: 100vh;
    width: 100%;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.left .image {
    background-position: left bottom;
}

.description {
    padding: 40px;
}

.left .description {
    right: 0;
    align-items: flex-end;
}

.left .description .line2 {
    text-align: right;
}

.description .line1 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.line1,
.line2,
.line3 {
    margin-bottom: 5px;
}

.btn-info {
    color: inherit;
    border-color: black;
    background-color: white;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open>.dropdown-toggle.btn-info.focus,
.open>.dropdown-toggle.btn-info:focus,
.open>.dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #C7C7C7;
    border-color: #000000;
}

.dots {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dots>i {
    margin: 2px;
    color: #6b6b6b;
    cursor: pointer;
}

.white {
    color: white;
}