#root-container {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main-content {
    margin-top: 90px;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}